@model MyDemo.UI.Models.PaginationViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white"> Sanchaung Township, Yangon</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">athandar1998@gmail.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home"><h1 class="text-primary display-6"> <img src="~/img/img.png" class="card-img-top" alt="Card Image" style="width: 100px; height: 70px;"> RecipeWorld </h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white justify-content-end" id="navbarCollapse">
                <div class="d-flex m-3 ms-auto">
                    <form method="get" asp-action="Search" asp-controller="Home" class="me-4">
                        <div class="input-group me-4">
                            <input type="text" name="searchTerm" class="form-control border-secondary" placeholder="Search..." aria-label="Search" aria-describedby="searchButton">
                            <button type="submit" class="btn-search btn border border-secondary btn-md-square bg-white" id="searchButton" data-bs-toggle="modal" data-bs-target="#searchModal">
                                <i class="fas fa-search text-primary"></i>
                            </button>
                        </div>
                    </form>              
                    <a class="my-auto" asp-action="Index" asp-controller="Login">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<div class="mt-lg-5 py-5">
    <br />
</div>

@foreach ( var recipe in Model.Recipes)
{
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-12">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="@recipe.ImageURL" class="card-img" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title"> @recipe.Title </h5>
                                    @foreach (var method in recipe.Method)
                                    {
                                        <p class="card-text"> @method</p>
                                    }
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-fluid">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-12">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Pagination controls -->

         
<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>